---
layout: default
---

<h2>Current and Future Trends in ICT</h2>
<p>Мэдээлэл, харилцаа холбооны технологийн орчин үеийн хандлага</p>

<!-- ICT brands -->

<h2>ICT Brands</h2>

<ol>
  {% for brand in site.data.brand-types %}
   	   <li>
      	   <a href="#">{{brand.title}}</a>
      	   {{brand.content | markdownify }}
   	   </li>
  {% endfor %}
</ol>

<!-- recently news -->

 <h2>Recently</h2>
 
 <ul>
	{% for news in site.categories.recently limit:3 %}
	<li>
		<a href="{{site.baseurl}}{{news.url}}">{{news.title}}</a>
		<p>{{news.meta}}</p>
	</li>
	{% endfor %}
</ul>

