<nav class="navbar navbar-default scrolling-navbar">
	<div class="container">
	   <ul class="nav {{include.navclass}}">
		<li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
		<li><a href="{{site.baseurl}}/news.html" class="{% if page.url contains 'news' or page.url contains 'recently' %}current{% endif %}">News</a></li>
		<li><a href="{{site.baseurl}}/brands/" class="{% if page.url contains 'brands' %}current{% endif %}">ICT Brands</a></li>
		<li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif%}">About</a></li>
		<li><a href="{{site.baseurl}}/contact.html" class="{% if page.url == '/contact.html' %}current{% endif%}">Contact</a></li>
	   </ul>
	  </div>
</nav>
