<html lang="en-us">
<head>
	<meta charset="utf-8">
	<title>Current and Future Trends in ICT</title>
</head>
<body>

<header>
	<h1>Current and Future Trends in ICT</h1>
	<nav>
		<li><a href="{{site.baseurl}}/index.html">Home</a></li>
		<li><a href="{{site.baseurl}}/news.html">News</a></li>
		<li><a href="{{site.baseurl}}/events">Video</a></li>
		<li><a href="{{site.baseurl}}/about.html">Events</a></li>
		<li><a href="{{site.baseurl}}/contact.html">Events</a></li>
		
	</nav>
</header>

{{content}}

<footer>

</footer>

</body>
</html>